<!--Header section with NavBar-->
<%- include('../components/general/header-admin.ejs') %>
  <!--Header section with NavBar end-->

  <!--Main content section-->
  <main>
    <section class="prod-list-wrapper container">
      <div class="prod-list-search-section">
        <label class="prod-list-search-icon" for="search">
          <i class="fa-solid fa-magnifying-glass fa-xl"></i>
        </label>
        <input type="text" name="buscar" placeholder="código, nombre o categoria" />
      </div>
      <div class="prod-list">
        <div class="prod-list-title-section">
          <h1 class="prod-list-title title">LISTADO DE PRODUCTOS</h1>
          <div class="prod-list-add">
            <p class="prod-list-add-label">AGREGAR</p>
            <button class="prod-list-add-button">
              <a href="/admin/products/create">
                <i class="fa-solid fa-plus fa-xl">
                </i>
              </a>
            </button>
          </div>
        </div>
        <div class="prod-list-table-container">
          <% if (typeof errors != 'undefined') { %>
            <ul class="req-messages">
              <% errors.forEach(error => { %>
              <li class="req-messages__error">ERROR: <%= error.msg %></li>
              <% }) %>
            </ul>
          <% } %>
          <table class="prod-list-table">
            <tbody>
              <tr class="prod-list-row">
                <th class="prod-list-row-item row-item-title">ID</th>
                <th class="prod-list-row-item row-item-title">Código</th>
                <th class="prod-list-row-item row-item-title">Nombre del Producto</th>
                <th class="prod-list-row-item row-item-title">Categoria</th>
              </tr>
              <tr class="prod-list-row">

                <% Object.values(collections).forEach(collection=> { %>
                  <td class="prod-list-row-item row-item-added">
                    <%= collection.product_id %>
                  </td>
                  <td class="prod-list-row-item row-item-added">
                    <%= collection.sku %>
                  </td>
                  <td class="prod-list-row-item row-item-added">
                    <%= collection.product_name %>
                  </td>
                  <td class="prod-list-row-item row-item-added">
                    <%= collection.licence.licence_name %>
                  </td>
                  <td class="prod-list-row-item row-item-added">
                    <div class="row-item-added-icons">
                      <button>
                        <a href="/admin/products/edit/<%= collection.product_id %>">
                          <img src="../images/icons/edit_pencil.svg" alt="lapiz">
                        </a>
                      </button>
                      <form class="form-delete" action="/admin/products/delete/<%= collection.product_id %>?_method=DELETE" method="POST">
                        <button type="submit">
                          <img src="../images/icons/delete_trash.svg" alt="basura">
                        </button>
                      </form>
                    </div>
                  </td>
                <% }); %>

              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </main>
  <!--Main content section end-->
  
  <!--Footer section-->
  <%- include('../components/general/footer-admin.ejs') %>
    <!--Footer section end-->