<!--Header section with NavBar-->
<%- include('../components/general/header-admin.ejs') %>
    <!--Header section with NavBar end-->

    <!--Main content section-->
    <main>
        <section id="section-create__item">
            <h2 class="title-section-create">CREAR NUEVO ITEM</h2>
            <div id="container-form__item">
                <form action="/admin/products/create" method="post" id="formItems" class="form-create">

                    <div>

                        <div class="container-form__fields">
                            <label for="category" class="label-create">Categoria:</label>
                            <select id="category" name="category_id" class="select-createItem" required data-tipo="categoria">
                                <option disabled selected value="" hidden>Seleccionar</option>
                                <% Object.values(licences).forEach(licence=> { %>
                                    <option value="<%= licence.licence_id %>">
                                        <%= licence.licence_name %>
                                    </option>
                                    <% }); %>
                            </select>


                            <label for="licence" class="label-create licence">Licencia:</label>
                            <select id="licence" name="licence_id" class="select-createItem" required data-tipo="licencia">
                                <option disabled selected value="" hidden>Seleccionar</option>
                                <% Object.values(categories).forEach(category=> { %>
                                    <option value="<%= category.category_id %>">
                                        <%= category.category_name %>
                                    </option>
                                    <% }); %>
                            </select>
                        </div>

                        <div class="container-form__fields">
                            <label for="nameProduct" class="label-create">Nombre del producto:</label>
                            <input type="text" name="product_name" id="nameProduct"
                                placeholder="Kakashi Hatake Shippuden Saga" class="input-create" required
                                data-tipo="nombre">
                            <span class="input-message-error">Este campo no es valido</span>

                        </div>

                        <div class="container-form__fields">
                            <textarea name="product_description" id="descriptionProduct"
                                placeholder="Descripcion del producto" cols=63 rows=10 required data-tipo="descripcion"
                                ></textarea>
                            <span class="input-message-error">Este campo no es valido</span>
                        </div>


                        <div style="display: flex;">
                            <div class="container-form__fields">
                                <label for="sku" class="label-create">SKU:</label>
                                <input id="sku" name="sku" type="text" placeholder="SSK111AB001" class="input-create"
                                    required data-tipo="sku">
                                <span class="input-message-error">Este campo no es valido</span>
    
                            </div>

                            <div class="container-form__fields">
                                
                                <label for="price" class="label-create">Precio:</label>
                                <input id="price" name="price" type="number" placeholder="$0.000,00" class="input-create" required data-tipo="precio">
                                <span class="input-message-error">Este campo no es valido</span>
                            </div>

                            <div class="container-form__fields">
                                <label for="stock" class="label-create">Stock:</label>
                                <input id="stock" name="stock" type="number" placeholder="0" class="input-create" required
                                    data-tipo="stock">
                                <span class="input-message-error">Este campo no es valido</span>
                            </div>
                        </div>


                        <div class="container-form__fields">

                            <label for="discount" class="label-create">Descuento:</label>
                            <input id="discount" name="discount" type="number" placeholder="0%" class="input-create"
                                required data-tipo="descuento">
                            <span class="input-message-error">Este campo no es valido</span>
                        </div>

                        <div class="container-form__fields">
                            <label for="cuotas" class="label-create">Cuotas:</label>
                            <select id="cuotas" name="cuotas" class="select-createItem">
                                <option selected value="tresCuotas">3 Cuotas sin interes</option>
                                <option value="seisCuotas">6 Cuotas sin interes</option>
                                <option value="doceCuotas">12 Cuotas sin interes</option>
                                <option value="dieciOchoCuotas">18 Cuotas sin interes</option>
                                <option value="veintiCuatroCuotas">24 Cuotas sin interes</option>
                            </select>
                        </div>

                        <!-- <label for="image" class="label-create">Imágenes:</label>
                    <input type="file" name="image" id="image" accept="image/*" multiple> -->
                        <div class="container-form__fields">
                            <label for="image_front" class="label-create">Imagen Principal:</label>
                            <input type="url" name="image_front" id="image_front"
                                placeholder="Ingrese la url de la imagen" required data-tipo="imagenFront">
                            <span class="input-message-error">Este campo no es valido</span>
                        </div>

                        <div  class="container-form__fields">
                            <label for="image_back" class="label-create">Imagen Secundaria:</label>
                            <input type="url" name="image_back" id="image_back"
                                placeholder="Ingrese la url de la imagen" required data-tipo="imagenBack">
                            <span class="input-message-error">Este campo no es valido</span>
                        </div>
                    </div>


                    <div class="container-btns">

                        <button type="submit" class="btns-pageCrear btn-CrearProducto">Agregar Producto</button>

                        <button type="reset" class="btns-pageCrear">Limpiar</button>
                    </div>

                    <div>
                        <p class="warnings" id="warnings"></p>
                    </div>
                </form>
            </div>
        </section>
    </main>
    <!--Main content section end-->

    <!--Footer section-->
    <%- include('../components/general/footer-admin.ejs') %>
        <!--Footer section end-->