<!--Header section with NavBar-->
<%- include('../components/general/header-admin.ejs') %>
    <!--Header section with NavBar end-->

    <!--Main content section-->
    <main class="main-edit">
        <h1 class="h1-edit">EDITAR ITEM</h1>

        <% if (typeof errors != 'undefined') { %>
            <ul class="req-messages">
              <% errors.forEach(error => { %>
              <li class="req-messages__error">ERROR: <%= error.msg %></li>
              <% }) %>
            </ul>
        <% } %>

        <form action="/admin/products/edit/<%= collections.product_id %>?_method=PUT" method="post">
            <div class="edit-tipo">
                <div>
                    <label for="categoria">Categoría:</label>
                    <select class="edit-valu" style="cursor: pointer" name="category_id" required>
                        <option disabled>Seleccionar</option>
                        <% categories.forEach(category=> { %>
                            <option value="<%= category.category_id %>"> <%= category.category_name %> </option>
                        <% }); %>
                    </select>
                </div>

                <div>
                    <label for="licencia">Licencia:</label>
                    <select class="edit-valu" style="cursor: pointer" name="licence_id" required>
                        <option disabled>Seleccionar</option>
                        <% licences.forEach(licence=> { %>
                            <option value="<%= licence.licence_id %>"> <%= licence.licence_name %> </option>
                        <% }); %>
                    </select>
                </div>
            </div>

            <div class="edit-tipo">
                <label for="nombre-producto">Nombre del producto:</label>
                <input class="edit-product" name="product_name" type="text" id="nombre-producto"
                    value="<%= typeof collections != 'undefined' ? collections.product_name : '' %>" required>
            </div>

            <div class="text-edit">
                <textarea class="edit-text" name="product_description" rows="6" cols="80"
                    placeholder="Descripción del producto"
                    required data-tipo="descripcion"><%= typeof collections != 'undefined' ? collections.product_description : '' %></textarea>
                </div>


            <div class="edit-tipo">
                <div>
                    <label for="sku">SKU:</label>
                    <input class="edit-sps" name="sku" type="text" id="sku"
                        value="<%= typeof collections != 'undefined' ? collections.sku : '' %>" required>
                </div>

                <div>
                    <label for="precio">Precio:</label>
                    <input class="edit-sps" name="price" type="text" id="precio"
                        value="<%= typeof collections != 'undefined' ? collections.price : '' %>" required>
                </div>

                <div>
                    <label for="stock">Stock:</label>
                    <input class="edit-sps" name="stock" type="text" id="stock"
                        value="<%= typeof collections != 'undefined' ? collections.stock : '' %>" required>
                </div>
            </div>

            <div class="edit-tipo">
                <div>
                    <label for="descuento">Descuento:</label>
                    <input class="descuento" name="discount" type="text" id="descuento"
                        value="<%= typeof collections != 'undefined' ? collections.discount : '' %>" required>
                </div>

                <label for="cuotas">Cuotas:</label>
                <select class="edit-dc" name="cuotas" id="cuotas" required>
                    <option value="numero-cuotas">3 Cuotas sin interés</option>
                    <option value="numero-cuotas">6 Cuotas sin interés</option>
                    <option value="numero-cuotas">12 Cuotas sin interés</option>
                    <option value="dieciOchoCuotas">18 Cuotas sin interes</option>
                    <option value="veintiCuatroCuotas">24 Cuotas sin interes</option>
                </select>
            </div>

            <!-- <div class="edit-tipo">
                <label for="imagenes">Imágenes:</label>
                <input class="edit-file " type="file" id="imagenes">
            </div> -->

            <label for="image_front" class="label-create">Imagen Principal:</label>
            <input type="url" name="image_front" id="image_front" value="<%= typeof collections != 'undefined' ? collections.image_front : '' %>" required>

            <label for="image_back" class="label-create">Imagen Secundaria:</label>
            <input type="url" name="image_back" id="image_back" value="<%= typeof collections != 'undefined' ? collections.image_back : '' %>" required>
            
            <div class="container-card">
                <section class="card-edit">
                    <img class="img-edit" src="<%= typeof collections != 'undefined' ? collections.image_front : '' %>"
                        alt="Figura coleccionable funko - <%= typeof collections != 'undefined' ? collections.product_name : '' %>">
                    <p class="p-carga">Frente</p>
                </section>

                <section class="card-edit">
                    <img class="img-edit" src="<%= typeof collections != 'undefined' ? collections.image_back : '' %>"
                        alt="Figura coleccionable funko - <%= typeof collections != 'undefined' ? collections.product_name : '' %>">
                    <p class="p-carga">Dorso</p>
                </section>
            </div>

            <input class="button-mod" type="submit" style="cursor:pointer" value="Modificar Producto">
        </form>

    </main>
    <!--Main content section end-->


    <!--Footer section-->
    <%- include('../components/general/footer-admin.ejs') %>
        <!--Footer section end-->