<!--Header section with NavBar-->
<%- include('../components/general/header-admin.ejs') %>
    <!--Header section with NavBar end-->

    <!--Main content section-->
    <main class="main-edit">
        <h1 class="h1-edit">EDITAR ITEM</h1>

        <form action="/admin/products/edit/<%= product.product_id %>?_method=PUT" method="post"
            enctype="multipart/form-data">

            <div class="edit-tipo">
                <div>
                    <label for="categoria">Categoría:</label>
                    <select class="edit-valu" style="cursor: pointer" name="categoria" id="categoria">
                        <option disabled>Seleccionar</option>
                        <% categories.forEach(category=> { %>
                            <option value="<%= category.category_id %>" <%=category.category_id==product.category_id
                                ? "selected" : "" %> >
                                <%= category.category_name %>
                            </option>
                            <% }); %>
                    </select>
                </div>

                <div>
                    <label for="licencia">Licencia:</label>
                    <select class="edit-valu" style="cursor: pointer" name="licencia">
                        <option disabled>Seleccionar</option>
                        <% licences.forEach(licence=> { %>
                            <option value="<%= licence.licence_id %>" <%=licence.licence_id==product.licence_id
                                ? "selected" : "" %> >
                                <%= licence.licence_name %>
                            </option>

                            <% }); %>
                    </select>
                </div>
            </div>

            <div class="edit-tipo">
                <label for="nombre-producto">Nombre del producto:</label>
                <input class="edit-product" type="text" id="nombre-producto"
                    value="<%= typeof product != 'undefined' ? product.product_name : '' %>" />
            </div>

            <div class="text-edit">
                <textarea class="edit-text" name="texto" rows="6" cols="80"
                    placeholder="Descripción del producto"><%= typeof product != 'undefined' ? product.product_description : '' %></textarea>
            </div>


            <div class="edit-tipo">
                <div>
                    <label for="sku">SKU:</label>
                    <input class="edit-sps" type="text" id="sku"
                        value="<%= typeof product != 'undefined' ? product.sku : '' %>" />
                </div>

                <div>
                    <label for="precio">Precio:</label>
                    <input class="edit-sps" type="text" id="precio"
                        value="<%= typeof product != 'undefined' ? product.price : '' %>" />
                </div>

                <div>
                    <label for="stock">Stock:</label>
                    <input class="edit-sps" type="text" id="stock"
                        value="<%= typeof product != 'undefined' ? product.stock : '' %>" />
                </div>
            </div>

            <div class="edit-tipo">
                <div>
                    <label for="descuento">Descuento:</label>
                    <input class="descuento" type="text" id="descuento"
                        value="<%= typeof product != 'undefined' ? product.discount : '' %>" />
                </div>

                <label for="cuotas">Cuotas:</label>
                <select class="edit-dc" name="cuotas" id="cuotas">
                    <option value="numero-cuotas">3 Cuotas sin interés</option>
                    <option value="numero-cuotas">6 Cuotas sin interés</option>
                    <option value="numero-cuotas">12 Cuotas sin interés</option>
                </select>
            </div>

            <div class="edit-tipo">
                <label for="imagenes">Imágenes:</label>
                <input class="edit-file " type="file" id="imagenes">
            </div>

            <div class="container-card">
                <section class="card-edit">
                    <img class="img-edit" src="<%= typeof product != 'undefined' ? product.image_front : '' %>"
                        alt="Figura coleccionable funk - <%= typeof product != 'undefined' ? product.product_name : '' %>">
                    <p class="p-carga">Frente</p>
                </section>

                <section class="card-edit">
                    <img class="img-edit" src="<%= typeof product != 'undefined' ? product.image_back : '' %>"
                        alt="Figura coleccionable funko - <%= typeof product != 'undefined' ? product.product_name : '' %>">
                    <p class="p-carga">Dorso</p>
                </section>
            </div>

            <input class="button-mod" type="submit" style="cursor:pointer" value="Modificar Producto">
        </form>
    </main>
    <!--Main content section end-->


    <!--Footer section-->
    <%- include('../components/general/footer-admin.ejs') %>
        <!--Footer section end-->